@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
    list-style: none;
    vertical-align: baseline;
}
:root {
    --border-radius-qb: 0.5rem;
    --margin-context-qb: 1.5rem auto;
    --font-size-qb: 2em;
}

.pageQuote {
    display: grid;
    min-height: 100vh;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#titel {
    font-size: 2rem;
    position: relative;
    color: white;
    text-align: center;
    margin: 0 auto 2rem auto;
}


#quote-box {
    display: grid;
    max-width: 35rem;
    min-width: 22rem;
    min-height: 18rem;
    padding: 1.5em;
    border-radius: var(--border-radius-qb);
    background-color: white;
    text-align: center;
}

.context {
    text-align: center;
    position: relative;
}

#text {
    text-align: center;
    font-size: var(--font-size-qb);
    margin-top: 2rem;
}

#author {
    position: relative;
    margin: var(--margin-context-qb);
    font-size: var(--font-size-qb);
    text-align: right;
    font-weight: 600;
    font-size: 1.5rem;
}

.buttons-quote {
    width: 100%;
    margin: auto;
    display: inline-block;
}

.buttons-quote #tweet-quote,
.buttons-quote #new-quote {
    font-size: 20px;
    height: 40px;
    color: white;
    border: 0;
    border-radius: var(--border-radius-qb);
    cursor: pointer;
}

#twitt-icon {
    margin-right: 15px;
}

#tweet-quote {
    float: left;
    width: 210px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
#new-quote {
    float: right;
    width: 115px;
}
#new-quote:hover,
#tweet-quote:hover {
    opacity: 0.8;
}
footer {
    color: aliceblue;
    width: 100%;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*  This style will needed if sharing-buttons inside block  */
.footer {
  font-size: 1rem;
  position: relative;
  color: white;
  text-align: center;
  margin: 0 auto 2rem auto;
}
/*
.footer a{
  text-decoration: none;
  color: white;
  margin-left: 5px;
}
*/

/* =============== MEDIA QUERIES (MEDIUM DEVICES) =========== */

@media screen and (max-width: 1024px) {
    .container-qb {
        display: block;
        padding: 5rem 0;
    }
    #titel {
        font-size: 2.5rem;
        margin: 0 0.2rem 2.5rem 0.2rem;
    }
    #quote-box {
        min-height: 18rem;
        margin: 0 auto;
    }
    #author {
        margin: 2rem auto;
    }
}
/* =============== MEDIA QUERIES (SMALL DEVICES) =========== */
@media screen and (max-width: 600px) {
    #titel {
        font-size: 1.6rem;
        margin: 1rem;
    }
    #quote-box {
        margin: auto 1rem;
        padding: 1rem;
        min-width: 15rem;
    }
    #author {
        margin: 1rem auto;
    }
    .buttons-quote {
        display: grid;
        grid-row: 2;
        gap: 1rem;
        justify-items: end;
    }
}
